* {
    font-family: 'Bookman Old Style', Serif;
}

div:first-of-type {
    display: flex;
}

header {
    background-color: darkcyan;
    color: white;
    width: 50%;
    height: 100px;
    letter-spacing: 15px;
}

footer {
    background-color: darkcyan;
    color: white;
}

main {
    display: flex;
}

article {
    background-color: azure;
    width: 30%;
    margin: 1%;
    box-shadow: 4px 4px 8px dimgray;
}

article img {
    width: 100%;
}

p,
h2,
h3 {
    margin: 15px;
}

a {
    color: white;
}

h5 {
    background-color: teal;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

h5:hover {
    background-color: lightseagreen;
}

.cytat {
    text-align: center;
    padding: 30px 0px;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

#drugi,
#trzeci {
    display: none;
}